@import '../../utils/components';

.home_content2{
    margin: 220px 0 0 147px;
}
.logo2{
    margin: 0 0 15px 55px;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 29px;
    font-weight: 800;
    line-height: 44px;
    }
    .unity-container{
        position: absolute;
        top: 609px;
        margin-left: 22px;

    }

.unity{
    width: 96px;
    height: 30px;
}
.img_container{
    display: flex;

}
.joy_stick{
    position: absolute;
    top: 0;
    margin-left: 200px;
    z-index: -1;
}
.cry-container{
    position: absolute;
    top: 202px;
    margin-left: 56px;
}
.cry{
    width: 101px;
    height: 99px;
}
.unreal-container{
    position: absolute;
    top: 218px;
    margin-left: 600px;
}
.unreal{
width: 59px;
height: 64px;
}
.trending_games{
    width: 1200px;
    display: flex;
    margin: 178px 0 0 147px;
}
.trend_text{
    color: #FFF;
font-family: Rubik;
font-size: 22px;
font-weight: 500;
}
.see_all{
    width: 139px;
    height: 57px;
    margin-left: 730px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 37.5px; 
    cursor: pointer;;
}
.card_container{
    margin: 0 auto;
    display: flex;
    gap: 47px;
    cursor: pointer;
}
.followers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow{
color: #FFF;
font-family: Rubik;
font-size: 22px;
font-weight: 500;
}
.card_home{
    margin: 0 auto;
    width: 1200px;
    
}